body {
    background-image: url(/card-deck-css/images/poker-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr;
    gap: 1px 1px;
    height:100vh;
    grid-template-areas:
        'header header header header header'
        'rule rule rule rule rule'
        'player1 player1 bet player2 player2';
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
 
}

.header p {
    font-size: 3vw;
}

.rule {
    grid-area: rule;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.player1 {
    margin: auto;
    grid-area: player1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet {
    grid-area: bet;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.player2 {
    margin: auto;
    grid-area: player2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin:40px;
}
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(205, 243, 33);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  #bet-button:hover {
    cursor: pointer;
    background-color: honeydew;
}

  #show-rule{
    margin-top: 0;
    font-size: 1.5vw;
    padding: 20px;
    border-bottom:1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #reset {
    border-radius: 12px;
    background-color: white;
    transition-duration: 0.4s;
  }

  #reset:hover {
    cursor: pointer;
    background-color:honeydew;
  }

  #display {
      font-size: 2vw;
      display: flex;
      justify-content: center;
  }

  #player-card {
      margin: 40px;
  }

  #computer-card {
      margin: 40px;
  }

  #player-point {
      font-size: 1.2vw;
      font-weight: bold;
  }
  #computer-point {
      font-size: 1.2vw;
      font-weight: bold;
  }

 .player2 > p {
     font-size: 1.2vw;
 }

 .player1 > p {
    font-size: 1.2vw;
 }

 #bet-button {
	box-shadow:inset 0px 1px 7px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:10px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:3vw;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 4px #86ae47;
}
#bet-button:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
#bet-button:active {
	position:relative;
	top:1px;
}


#reset {
	box-shadow:inset 0px 1px 4px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#reset:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
#reset:active {
	position:relative;
	top:1px;
}

.next-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:1vw;
	font-weight:bold;
	font-style:italic;
	padding:7px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin:5px;
}
.next-button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.next-button:active {
	position:relative;
	top:1px;
}

        
          